@font-face {
    font-family: 'Roboto';
    src: url("../font/Roboto/Roboto-Black.ttf")  format('truetype'),
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header */

.img-bg{
    background-image: url("../images/homepage_bg_img.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-container {
    max-width: 95%;
    padding: 1.5rem 2.5rem 0;
}
.navbar img {
    height: 4em;
}
.navbar li{
    list-style-type: none;
}
.navbar nav{
    margin-top: 1rem;
}
.navbar nav ul{
    display: flex;
    flex-direction: row;
}
.navbar nav ul li{
    padding: .5rem 1.5rem;
}
.navbar nav ul li a{
    text-decoration: none;
    color: lightgrey;
    font-size: 1.5rem;
}
.navbar nav ul li a:hover{
    color: white;
}
.active {
    border-bottom: 1px solid white;
}
.end-nav {
    margin-top: 1rem;
}
.end-nav ul {
    display: flex;
    flex-direction: row;
}
.end-nav ul li {
    padding: .5rem;
}

/* end */

/* title */

.title {
    margin-top: 5em;
    color: white;
}
.title p {
    margin-top: 0.25rem;
}

/* checkout */

.ckeckout-from{
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}
.checkout {
    width: 20%;
    border-radius: 15px;
    opacity: 80%;
    background-color: #E4EFEE;
    padding: 1rem;
}
.checkout-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.search-btn {
    margin-top: 2rem;
}

/* description */

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.circle{
    padding: 1rem;
}
.circle i{
    color: aqua;
    border-radius: 50%;
    background-color: white;
    padding: 1rem;
}